/body div {
	outline: 1px dotted black;
}

html, body {
	height: 100%;
	width:100%;
	margin:0;
	padding: 10px;
}

a {
	text-decoration: none;
}

.header {
	max-width: 50%;
    height: 10%;
    position: relative;
    right: -50%;
    padding-bottom:20px;
    text-align: right;
}

.gmail, .images {
	display: inline-flex;
	position: relative;
    top: 1%;
    margin-left: 15px;
	font-family: sans-serif;
	font-size: small;
	top:-8px;
}

.more-tools, .notifications {
	display: inline-flex;
	position: relative;
    top: 1px;
    margin-left: 15px;
}

.user-logo {
	display: inline-flex;
	position: relative;
    top: 15px;
    margin-left: 15px;
    border-radius: 100px;
    background-color: oldlace;
    margin-right: 40px;
}

.content {
	height: 80%;
	text-align: center;
}

.google-logo {
	display: block;
	text-align: center;
    position: relative;
    top: 20%;
}

.search-field {
	display: block;
    position: relative;
    top: 20%;
}

.search-field input {
	display: inline-block;
    position: sticky;
    left: 25%;
	width: 50%;
	height: 30px;
	border: 1px solid gainsboro;
    box-shadow: 0px 0px 9px 0px lightgrey;
    padding: 3px;
}

.search-field input:hover {
	box-shadow: 0px 0px 9px 0px darkgrey;
}

.search-field input:focus {
	font-family: sans-serif;
	font-size: 14px;
	outline: none;
}

.keyboard, .microphone {
	position: relative;
    display: inline-block;
    right: 7%;
    top: 10px;
}

.search-buttons {
	position: relative;
    top: 15px;
}

.search-buttons button {
    font-size: smaller;
    padding: 10px 20px;
    font-family: sans-serif;
    color: grey;
    font-weight: bold;
    background-color: #efefef;
    outline: none;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

.search-buttons button:hover {
	border: 1px solid darkgrey;
	color: black;
	box-shadow: 0px 0px 1px 0px darkgrey;
}

.search-buttons button:focus {
	border: 1px solid rgb(49, 116, 241);
}

.language {
	position: relative;
    top: 25px;
    font-family: sans-serif;
    font-size: small;
}

.footer {
	height: 60px;
    background-color: #f7f6f6;
    border:1px solid lightgrey;
    padding: 20px 10px 0px 10px;
}

.about, .advertisements, .about-google, .business {
	display: inline-block;
	float: left;
	padding: 5px;
	font-size: small;
	font-family: sans-serif;
}

.other, .confidential, .conditions, .settings {
	display: inline-block;
	float: right;
	padding: 5px;
	font-size: small;
	font-family: sans-serif;
}

@media (max-height: 450px) {
	.footer {
		display: none;
	}
}
